<mat-tab-group class="tabs">
  <!-- Aba de Pesquisa -->
  <mat-tab label="Pesquisa">
    <div class="pesquisa">
      <button mat-raised-button color="primary" (click)="onPesquisar()">Pesquisar</button>

      <table mat-table [dataSource]="saldos" class="mat-elevation-z8 table">
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let cdi"> {{ cdi.data | date: 'dd/MM/yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> Valor </th>
          <td mat-cell *matCellDef="let cdi"> {{ cdi.valor | currency:'BRL':'symbol':'1.2-2' }} </td>
        </ng-container>

        <ng-container matColumnDef="rendimento">
          <th mat-header-cell *matHeaderCellDef> Rendimento ($) </th>
          <td mat-cell *matCellDef="let cdi"> {{ cdi.rendimento | currency:'BRL':'symbol':'1.2-2' }} </td>
        </ng-container>
        <ng-container matColumnDef="percentualRendimento">
          <th mat-header-cell *matHeaderCellDef> Rendimento (%) </th>
          <td mat-cell *matCellDef="let cdi"> 
            {{ (cdi.rendimento / cdi.valor) * 100 | number:'1.2-2' }}%
          </td>
        </ng-container>

        <ng-container matColumnDef="rendimentoTotal">
          <th mat-header-cell *matHeaderCellDef> Rendimento total ($) </th>
          <td mat-cell *matCellDef="let cdi"> 
            {{ cdi.rendimentoTotal | currency:'BRL':'symbol':'1.2-2' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="percentualRendimentoTotal">
          <th mat-header-cell *matHeaderCellDef> Rendimento total (%) </th>
          <td mat-cell *matCellDef="let cdi"> 
            {{ (cdi.rendimentoTotal / cdi.valor) * 100 | number:'1.2-2' }}%
          </td>
        </ng-container>
        

        <ng-container matColumnDef="ativo">
          <th mat-header-cell *matHeaderCellDef> Ativo </th>
          <td mat-cell *matCellDef="let cdi"> {{ cdi.ativo }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="total-container">
  <strong>Total: {{ getTotalSaldo() | currency:'BRL' }}</strong>
</div>