<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    
    <!-- Seletor de Sistema -->
    <mat-form-field appearance="fill">
      <mat-label>Selecionar Sistema</mat-label>
      <mat-select [(ngModel)]="sistemaSelecionado">
        <mat-option value="financeiro">Financeiro</mat-option>
        <mat-option value="casamento">Casamento</mat-option>
        <mat-option value="estoque">Estoque</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-nav-list [ngSwitch]="sistemaSelecionado">
      
      <!-- Menu Financeiro -->
      <ng-container *ngSwitchCase="'financeiro'">
        <a mat-list-item [routerLink]="['/configuracao-ativo']" routerLinkActive="active">Configuração ativo</a>
        <a mat-list-item [routerLink]="['/movimentacao']" routerLinkActive="active">Movimentação</a>
        <a mat-list-item [routerLink]="['/calculadora']" routerLinkActive="active">Calculadora</a>
        <a mat-list-item [routerLink]="['/saldo-ativo']" routerLinkActive="active">Saldo por ativo</a>
      </ng-container>

      <!-- Menu Recursos Humanos -->
      <ng-container *ngSwitchCase="'casamento'">
        <a mat-list-item [routerLink]="['/noivos']" routerLinkActive="active">Noivos</a>
        <a mat-list-item [routerLink]="['/lista-convidados']" routerLinkActive="active">Lista de convidados</a>
        <a mat-list-item [routerLink]="['/lsita-presentes']" routerLinkActive="active">Lista de presentes</a>
      </ng-container>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <div class="header">
      <h2>{{ currentPageTitle }}</h2>
      <div class="user-info">
        <span *ngIf="username">Bem-vindo, {{ username }}</span>
        <button mat-button (click)="logout()">Logout</button>
      </div>
    </div>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
