<div class="container">
  <h2>Calculadora de Rentabilidade Diária</h2>
  <form [formGroup]="calculadoraForm" (ngSubmit)="onPesquisar()">

    <div class="input-group">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Data</mat-label>
        <input matInput id="dataCDI" type="date" formControlName="data" />
        <mat-error *ngIf="calculadoraForm.get('data')?.invalid && calculadoraForm.get('data')?.touched">
          Data é obrigatória.
        </mat-error>
      </mat-form-field>
    </div>


    <div class="resultado">
      <p><strong>Rentabilidade Diária:</strong> R$ {{ rentabilidadeDiaria | number:'1.2-2' }}</p>
      <p><strong>Valor final:</strong> R$ {{ valorFinal | number:'1.2-2' }}</p>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="calculadoraForm.invalid">Salvar</button>
  </form>
</div>