<mat-tab-group class="tabs">
  <!-- Aba de Pesquisa -->
  <mat-tab label="Pesquisa">
    <div class="pesquisa">
      <button mat-raised-button color="primary" (click)="onPesquisar()">Pesquisar</button>

      <table mat-table [dataSource]="movimentacoes" class="mat-elevation-z8 table">
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let cdi"> {{ cdi.data  | date: 'dd/MM/yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> Valor </th>
          <td mat-cell *matCellDef="let cdi"> {{ cdi.valor }} </td>
        </ng-container>

        <ng-container matColumnDef="ativo">
          <th mat-header-cell *matHeaderCellDef> Ativo </th>
          <td mat-cell *matCellDef="let cdi"> {{ cdi.ativo }} </td>
        </ng-container>

        <ng-container matColumnDef="tipoMovimentacao">
          <th mat-header-cell *matHeaderCellDef> Tipo movimentação </th>
          <td mat-cell *matCellDef="let cdi"> {{ cdi.tipoMovimentacao }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>

  <!-- Aba de Novo -->
  <mat-tab label="Novo">
    <div class="cdi">
      <form [formGroup]="movimentacaoForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Configuração do Ativo</mat-label>
          <mat-select formControlName="idAtivo">
            <mat-option *ngFor="let config of configuracoesAtivo" [value]="config.id">
              {{ config.nome }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="movimentacaoForm.get('idAtivo')?.invalid && movimentacaoForm.get('idAtivo')?.touched">
            Configuração do Ativo é obrigatória.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Data</mat-label>
          <input matInput id="dataCDI" type="date" formControlName="data" />
          <mat-error *ngIf="movimentacaoForm.get('data')?.invalid && movimentacaoForm.get('data')?.touched">
            Data é obrigatória.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Data aplicação</mat-label>
          <input matInput id="dataAplicacao" type="date" formControlName="dataAplicacao" />
          <mat-error *ngIf="movimentacaoForm.get('dataAplicacao')?.invalid && movimentacaoForm.get('dataAplicacao')?.touched">
            Data aplicação é obrigatória.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Data vencimento</mat-label>
          <input matInput id="dataVencimento" type="date" formControlName="dataVencimento" />
        </mat-form-field>


        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Valor</mat-label>
          <input matInput id="valorCDI" type="number" formControlName="valor" />
          <mat-error *ngIf="movimentacaoForm.get('valor')?.invalid && movimentacaoForm.get('valor')?.touched">
            Valor é obrigatório e deve ser ≥ 0.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Valor aplicado</mat-label>
          <input matInput id="valorAplicado" type="number" formControlName="valorAplicado" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Tipo de Movimentação</mat-label>
          <mat-select formControlName="tipoMovimentacao">
            <mat-option *ngFor="let tipo of tiposMovimentacao" [value]="tipo.id">
              {{ tipo.descricao }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="movimentacaoForm.get('tipoMovimentacao')?.invalid && movimentacaoForm.get('tipoMovimentacao')?.touched">
            Tipo de movimentação é obrigatório.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="movimentacaoForm.invalid">Salvar</button>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>